/*Imports*/



/*General styles*/

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

ul,
ol,
li {
	list-style: none;
}

[class*="__container"] {
	max-width: 1000px;
	margin: 0 auto;
	transform: translateY(50%);
	font-family: Lora;
}

body,
html {
	scroll-behavior: smooth;
}

/*Other styles*/

.card {
	position: relative;
	width: 400px;
	height: 200px;

	background-color: white;
	border: 2px solid rgba(255,152,246, .9);
	border-radius: 20px;
	box-shadow: 0px 5px 10px 2px rgba(251, 0, 255, 0.2);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px;
	text-align: center;

	transition: transform .5s ease-in-out;
}

.rose-img {
	position: absolute;
	transform: rotate(337deg);
	bottom: -35px;
	width: 40%;
	left: -55px;
	z-index: 100;
}

.names {
	font-size: 40px;
	text-shadow: 0px 0px 6px rgba(255, 138, 235, 0.6);
	color: #ff8080;
	font-weight: 600;
}

h3 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.card-up {
	transform: translateY(20%);
}

.details {
	transition: transform .5s ease-in-out;
	transform: translateY(-50%);
	z-index:-1;
	flex-direction: column;
	justify-content: space-evenly;
}

.details-down{
	transform: translateY(40%)
}

span{
	color: #ff0075;
	
}